--extra-index-url https://download.pytorch.org/whl/cu121

ultralytics
kaggle
pandas
numpy
matplotlib
ipython
pyyaml
torch
torchvision
streamlit
pillow
# Usa headless también en dev para evitar conflictos con la nube
opencv-python-headless